*{
    padding: 0;
    margin: 0;
    font-family: Arial,sans-serif;
}

body{
    overflow-x: hidden;
}

.header{
    width: 100vw;
    height:20vh;
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 2;
    /* justify-content: center; */
    /* align-items: center; */
}

.orangespace{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 20vh;
    width: 100vw;
    background-color: rgb(156, 125, 210);
}

.header > .top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.brand > .logo{
    flex: 2;
}

.brand{
    flex: 2;
    display: flex;    
    margin: 1rem 0rem 1rem 0rem;
    font-size: 2rem;
    font-weight: bold;
    color: blueviolet;
}

.card{
    flex: 1;
    display: flex;
    justify-content: center;
}

.card > .des > div{
    font-size: small;
}

.card > .des > .title{
    font-size: 15px;
    font-weight: bold;
}

.card > svg{
    margin: 1rem;
}

.nav{
    width: 100vw;
    height: 10VH;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    
}

.nav > a{
    height: 96%;
    padding: 0 1rem 0 1rem;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.nav > a:hover{
    background-color: whitesmoke;
    border-radius: 7px;
    color: blueviolet;
}

.slides{
    display: flex;
    height: 60vh;
}

.space{
    height: 20vh;
}

.container{
    position: relative;
    width: 100vw;
    height: 20vh;
}

.slide{
    position: absolute;
    z-index: 0;
    transition: 1s;
    animation: fade 1s;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 1;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

@keyframes fade {
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}

.slide_num{
    position: absolute;
    color: white;
    top:0;
}

.info{
    display: flex;
    padding: 1rem;
    min-height: 40vh;
    gap: 2vh;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.info > .left > .title{
    font-size: large;
    font-weight: bold;
}

.info > .left > .des{
    letter-spacing: 2px;
    word-spacing: 4px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.info > .left{
    flex: 2;
}

.info > .right{
    flex: 1;
}

.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
    padding: 5rem;
}

.products > .head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: red;
    text-align: center;
    gap: 2vh;
}

.head > .dash{
    width: 20vw;
    border: 1px solid black;
}

.head > .long{
    width: 25vw;
}

.products > .list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4vw;
}

.list > .pr_cards{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 30vh;
    border-radius: 8px;
    border: 1px solid black;
    transition: 0.5s;
}

.list > .pr_cards:hover{
    box-shadow: 2px 4px 32px grey;
    width: 23vw;
    height: 33vh;
}

.pr_cards > .top{
    display: flex;
    justify-content: center;
    height: 83%;
}

.pr_cards > .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid grey;
    background-color: orange;
    border-radius: 0 0 8px 8px;
    color: white;
    height: 17%;
}

.pr_cards > .top > img{
    border-radius: 8px 8px 0 0;   
}

a{
    text-decoration: none;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: blueviolet;
    color: white;
}

.about-img{
    display: flex;
    flex-direction: column;
    padding: 10vw 0 0 0 ;
    width: 30vw;
    /* height: 30vh; */
    transition: 0.5s;
}

.infoimg{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 30vh;
    transition: 0.5s;
}

.info > .left{
    flex: 1;
}

.info > .left > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info > .center > div{
    display: flex;
    flex-direction: column;
}
.center{
    flex: 1;
}

.info > .left > div > h3 > big{
    color: rgb(72, 71, 71);
}

.info > .left > div > P{
    color: rgb(91, 89, 89);
}

.info > .right{
    flex: 1;
    display: flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 7px;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 7px;
  }

  .dropdown-content a:hover {background-color: whitesmoke;
    border-radius: 7px;
    color: blueviolet;background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
    background-color: whitesmoke;
    border-radius: 7px;
    color: blueviolet;
}

.pcc_img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    
}

.colour_space{
    display: flex;
    height: 7vh;
    background-color:rgb(156, 125, 210);
    border-radius: 10px;
}

.form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: white;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    margin: 1rem;
    padding: 0.5vw;
    gap: 1rem;
}

.form > form >  .inputS{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.form > form > .inputS > label{
    margin-bottom: 5px;
    font-size: large;
    font-weight: bold;
    width: 100%;
}

.form > form > .inputS > input,
.form > form > .inputS > textarea{
    width: 20vw;
    height: 20px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 7px;
    font-size: large;
    color: black;
}

.form > form > .inputS > .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 10vw;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
}

.formarea{
    display: flex;
    background-image: url('/assets/form_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.formtitle{
     color: white; font-size: xx-large; text-align: center; width: 100%;
}

/* Styles for the Go to Top button */
#goToTopBtn {
    display: none; /* Hide the button by default */
    position: fixed; /* Fixed position on the screen */
    bottom: 20px; /* Position from the bottom */
    right: 20px; /* Position from the right */
    z-index: 99; /* Ensure it stays on top of other elements */
    border: none; /* Remove default button styles */
    outline: none; /* Remove default button styles */
    background-color: gainsboro; /* Button background color */
    color: white; /* Text color */
    cursor: pointer; /* Show pointer cursor on hover */
    padding: 15px; /* Padding inside the button */
    border-radius: 20%; /* Make it a circle */
    font-size: x-large;
  }
  
  #goToTopBtn:hover {
    background-color:gray; /* Darker color on hover */
  }
  