*{
    padding: 0;
    margin: 0;
    font-family: Arial,sans-serif;
}

body{
    overflow-x: hidden;
}

.header{
    width: 100%;
    height:20vh;
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.orangespace{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 20vh;
    width: 100vw;
    background-color: rgb(156, 125, 210);
}

.header > .top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.brand > .logo{
    flex: 2;
}

.top > .logo > img{
    width: 100px;
    height: 100px;
}

.brand{
    flex: 2;
    display: flex;    
    margin: 1rem 0rem 1rem 0rem;
    font-size: 2rem;
    font-weight: bold;
    color: blueviolet;
}

.card{
    flex: 1;
    display: flex;
    justify-content: center;
}

.card > .des > div{
    font-size: small;
}

.card > .des > .title{
    font-size: 0.9375rem;
    font-weight: bold;
}

.card > svg{
    margin: 1rem;
}

.nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border: 0.0625rem solid black;
    border-left: none;
    border-right: none;
}

.nav > a{
    height: 96%;
    padding: 0 1rem 0 1rem;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.nav > a:hover{
    background-color: whitesmoke;
    border-radius: 0.4375rem;
    color: blueviolet;
    flex-grow: .08;
    
 
    
}

.slides{
    display: flex;
    height: 60vh;
}

.space{
    height: 20vh;
}

.container{
    position: relative;
    width: 100vw;
    height: 20vh;
}

.slide{
    position: absolute;
    z-index: 0;
    transition: 1s;
    animation: fade 1s;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    margin-top: -1.375rem;
    color: white;
    font-weight: bold;
    font-size: 1.125rem;
    transition: 0.6s ease;
    border-radius: 0 0.1875rem 0.1875rem 0;
    -webkit-user-select: none;
    user-select: none;
    z-index: 1;
  }

  .next {
    right: 0;
    border-radius: 0.1875rem 0 0 0.1875rem;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

@keyframes fade {
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}

.slide_num{
    position: absolute;
    color: white;
    top:0;
}

.info{
    display: flex;
    padding: 1rem;
    min-height: 40vh;
    gap: 2vh;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.info > .left > .title{
    font-size: large;
    font-weight: bold;
}

.info > .left > .des{
    letter-spacing: 0.125rem;
    word-spacing: 0.25rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.info > .left{
    flex: 2;
}

.info > .right{
    flex: 1;
}

.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
    padding: 5rem;
}

.products > .head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: red;
    text-align: center;
    gap: 2vh;
}

.head > .dash{
    width: 20vw;
    border: 0.0625rem solid black;
}

.head > .long{
    width: 25vw;
}

.products > .list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4vw;
}

.list > .pr_cards{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 30vh;
    border-radius: 0.5rem;
    border: 0.0625rem solid black;
    transition: 0.5s;
}

.list > .pr_cards:hover{
    box-shadow: 0.125rem 0.25rem 2rem grey;
    width: 21vw;
    height: 31vh;
}

.pr_cards > .top{
    display: flex;
    justify-content: center;
    height: 83%;
}

.pr_cards > .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 0.0625rem solid grey;
    background-color: orange;
    border-radius: 0 0 0.5rem 0.5rem;
    color: white;
    height: 17%;
}

.pr_cards > .top > img{
    border-radius: 0.5rem 0.5rem 0 0;   
}

a{
    text-decoration: none;
}

.about-img{
    display: flex;
    flex-direction: column;
    padding: 10vw 0 0 0 ;
    width: 30vw;
    /* height: 30vh; */
    transition: 0.5s;
}

.infoimg{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 30vh;
    transition: 0.5s;
}

.info > .left{
    flex: 1;
}

.info > .left > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description{
    text-align: center;
}

.info > .center > div{
    display: flex;
    flex-direction: column;
}
.center{
    flex: 1;
}

.info > .left > div > h3 > big{
    color: rgb(72, 71, 71);
}

.info > .left > div > P{
    color: rgb(91, 89, 89);
}

.info > .right{
    flex: 1;
    display: flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 10rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0.4375rem;
  }

  .dropdown-content a {
    color: black;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
    border-radius: 0.4375rem;
  }

  .dropdown-content a:hover {background-color: whitesmoke;
    border-radius: 0.4375rem;
    flex-grow: 0.8;
    color: blueviolet;background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;flex-grow: 0.8;}

.dropdown:hover .dropbtn {
    background-color: whitesmoke;
    border-radius: 0.4375rem;
    color: blueviolet;
    flex-grow: 0.8;
}

.pcc_img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.pcc_img > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.colour_space{
    display: flex;
    height: 7vh;
    background-color:rgb(156, 125, 210);
    border-radius: 0.625rem;
}

.form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: white;
    border-radius: 5px;
    backdrop-filter: blur(1.5625rem);
    -webkit-backdrop-filter: blur(1.5625rem);
    margin: 1rem;
    padding: 0.5vw;
    gap: 1rem;
}

.form > form >  .inputS{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.form > form > .inputS > label{
    margin-bottom: 0.3125rem;
    font-size: large;
    font-weight: bold;
    width: 100%;
}

.form > form > .inputS > input{
    width: 20vw;
    height: 1.25rem;
    padding: 0.625rem;
    border: 0.0625rem solid grey;
    border-radius: 0.4375rem;
    font-size: large;
    color: black;
}

.form > form > .inputS > .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 2.5rem;
    width: 10vw;
    border-radius: 0.3125rem;
    background-color: blueviolet;
    color: white;
}

.formarea{
    display: flex;
    background-image: url('assets/form_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.formtitle{
     color: white; font-size: xx-large; text-align: center; width: 100%;
}

/* Styles for the Go to Top button */
#goToTopBtn {
    display: none; /* Hide the button by default */
    position: fixed; /* Fixed position on the screen */
    bottom: 1.25rem; /* Position from the bottom */
    right: 1.25rem; /* Position from the right */
    z-index: 99; /* Ensure it stays on top of other elements */
    border: none; /* Remove default button styles */
    outline: none; /* Remove default button styles */
    background-color: gainsboro; /* Button background color */
    color: white; /* Text color */
    cursor: pointer; /* Show pointer cursor on hover */
    padding: 0.9375rem; /* Padding inside the button */
    border-radius: 20%; /* Make it a circle */
    font-size: x-large;
  }
  
  #goToTopBtn:hover {
    background-color:gray ;/* Darker color on hover */
    
  }
  .footer {
    background-color: #333; /* Background color of the footer */
    color: #fff; /* Text color of the footer */
    padding: 1.875rem 1.25rem; /* Padding around the content inside the footer */
    text-align: center; /* Align text to the center */
}
.footer h3 {
    color: #fff; /* Color of the section title */
    margin-bottom: 0.9375rem; /* Space below the section title */
}
.footer a {
    color: #fff; /* Footer link color */
    text-decoration: none; /* Remove underline from links */
    margin: 0 0.625rem; /* Add margin between links */
}

.footer a:hover {
    text-decoration: underline; /* Underline links on hover */
}
.footer .copyright {
    margin-top: 0.625rem; /* Add space between links and copyright */
}

/* Styling for the loading screen */
.loading-screen {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* semi-transparent white background */
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1); /* light border */
    border-top: 4px solid #3498db; /* blue border on top */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* spinning animation */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px; /* center vertically */
    margin-left: -25px; /* center horizontally */
}

.loading-text {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #333; /* dark text color */
    position: absolute;
    top: 53%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    margin-top: 30px; /* adjust spacing from spinner */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#name{
    color: rgb(162, 105, 216);
    margin-top: 1vh;
}
#companyName{
    color: rgb(162, 105, 216);
    margin-top: 1vh;
}
#email{
    color: rgb(162, 105, 216);
    margin-top: 1vh;
}
#contactNumber{
    color: rgb(162, 105, 216);
    margin-top: 1vh;
}
#address{
    color: rgb(162, 105, 216);
    margin-top: 1vh;
}
#requirement{
    color: rgb(162, 105, 216);
    margin-top: 1vh;
}
.compulsary{
    color: rgb(162, 105, 216);
}

.nav{
    display: none;
    transition: 1s;
}

.change{
    display: none;
    transition: 1s;
}

@media only screen and (max-width: 600px) {
    body{
        overflow-x: hidden;
        overflow-wrap:normal;
    }

    .form {
         flex-direction: column;
         align-items: center;
         padding: 0.5vw;
         gap: 1rem;
     }
 
    .form > form >.inputS {
         margin: 1rem 0;
     }

    .formarea {
        background-size:auto;
       
      }

    .infoimg {
         width: 60vw;
         height: auto;
     }
 
    .products {
         flex-direction: column;
         gap: 2vh;
         padding: 5vw;
     }
 
    .products >.head {
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
         gap: 2vh;
     }
 
    .products >.list {
         flex-wrap: wrap;
         justify-content: center;
         gap: 4vw;
     }
 
    .list >.pr_cards {
         width: 100%;
         height: 30vh;
     }

     .list > .pr_cards:hover{
        box-shadow: 0.125rem 0.25rem 2rem grey;
        width: 100%;
        height: 31vh;
    }
 
    .info {
         flex-direction: column;
         padding: 1rem;
         min-height: 60vh;
         gap: 1vh;
     }
 
    .info >.left,
    .info >.right {
         flex: 1;
         justify-content: center;
     }
     .right img{
        width: 94%;
     }
     .about-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
    }
    .about-img > img {
        width: 100%;
        height: auto;
    }

    .pcc_img{
        width: 100%;
        object-fit:contain;
    }

    .pcc_img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
 
    .slide {
         height: 30vh;
     }
 
    .slide img {
         width: 100%;
         height: auto;
     }
 
    .card {
         flex: 1 1 100%;
         height: auto;
         display: none;
     }
 
    .card >.des {
         font-size: small;
     }
 
    .card > svg {
         margin: 0.5rem;
     }
 
    .header >.top.logo img {
         width: 66px;
         height:66px;
     }
 
    .header >.top.brand {
         font-size: 1.5rem;
     }

    .orangespace {
         height: 15vh;
     }
 
    .header {
         height:15vh;
         width: 100%;
         display: flex;
         flex-direction: column;
     }

     .space{
        height:15vh;
    }
 
    .header .top {
        justify-content: center;
        height: 12vh;
     }
 
    .header.brand {
         font-size: 1.5rem;
     }
 
    .header .nav {
        display: none;
         height: 10vh;
         position: absolute;
         height: min-content;
         width: min-content;
         border: 1px solid #cccccc;
         border-radius: 13px;
         padding: 1rem 0;
         gap: 8px;
         top: 15vh;
         left: 8%;
         margin: auto;
         justify-content: center;
         background-color: #ffffff;
         box-shadow: 2px 4px 16px grey;
         animation: dropdown 0.5s;
     }

     @keyframes dropdown {
        0%{opacity: 0; top: 12vh;}
        100%{opacity: 1; top: 15vh;}    
     }

     .change{
        animation: opacity 1s;
     }

     @keyframes opacity {
        0%{opacity: 0;}
        100%{opacity: 1;}
     }
 
    .header.nav a {
         padding: 0.5rem 1rem;
     }

     .nav {
        flex-direction: column;
        height: auto;
        z-index: 5;
     }
     .features{
        padding: 1rem;
        gap: 1vh;
     }
     .features > .title{
        font-size: 1.5rem;
     }
     .features > .content{
        font-size: 1rem;
     }
     .list{
        flex-direction: column;
     }

     .footer{
        width: 94vw;
        padding: 1rem 3vw;
     }

     #menu{
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-left: 1rem;
        height: 3vh;
        width: min-content;
     }

     #menu > div{
        width: 1.3rem;
        border: 1px solid black;
        transition: 1s;
        animation:1s ease-in-out;
     }

     .change .bar1{
        transform: translate(0, 3px) rotate(-45deg);
     }

     .change .bar2{
        display: none;
     }

     .change .bar3{
        transform: translate(0, -3px) rotate(45deg);
     }

     .formarea{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;
     }

     .formarea > .des{
        display: flex;
        width: 80vw;
     }

     .form > form {
        width: max-content;

     }

     .form > form >  .inputS > input{
        width: 100%;
     }

     .form > form > .inputS > label{
        text-align: center;
     }

     .form > form > .inputS > .submit{
        text-align: center;
        border: none;
        width: 50%;
        font-size: large;
     }

     .website{
        font-size:0.8rem;
     }
     .footer-links{
        font-size:0.8rem;
     }

     .top > .logo > img{
        width: 50px;
        height: 50px;
    }

    
 }